/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#myDiv {
  display: none;
}

.loaderimg{
  width: 150px;
  height: 150px;
}

.loaderimg2{
  width: 75px;
  height: 75px;
}



.bar {
    /*float: left;*/
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
    margin-left: 25px;
}


.load-10 .bar {animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite;}


@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}
  
  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}

